<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Result</title>
</head>
<body>
<p> Order Uid: {{.OrderUid}} </p>
<p>Track Number: {{.TrackNumber}}</p>
<p>Entry: {{.Entry}} </p>
<div>
    Delivery
    <ul>
        <li>Name: {{.Delivery.Name}}</li>
        <li>Phone: {{.Delivery.Phone}}</li>
        <li>Zip: {{.Delivery.Zip}}</li>
        <li>City: {{.Delivery.City}}</li>
        <li>Address: {{.Delivery.Address}}</li>
        <li>Region: {{.Delivery.Region}}</li>
        <li>Email: {{.Delivery.Email}}</li>
    </ul>
</div>
<div>
    Payment
    <ul>
        <li>Transaction: {{.Payment.Transaction}}</li>
        <li>Request Id: {{.Payment.RequestId}}</li>
        <li>Currency: {{.Payment.Currency}}</li>
        <li>Provider: {{.Payment.Provider}}</li>
        <li>Amount: {{.Payment.Amount}}</li>
        <li>Payment dt: {{.Payment.PaymentDt}}</li>
        <li>Bank: {{.Payment.Bank}}</li>
        <li>Delivery cost: {{.Payment.DeliveryCost}}</li>
        <li>Goods total: {{.Payment.GoodsTotal}}</li>
        <li>Custom fee: {{.Payment.CustomFee}}</li>
    </ul>
</div>
<p>Locale: {{.Locale}}</p>
<p>Internal signature: {{.InternalSignature}}</p>
<p>Customer id: {{.CustomerId}}</p>
<p>Delivery service: {{.DeliveryService}}</p>
<p>Shardkey: {{.Shardkey}}</p>
<p>Sm id: {{.SmId}}</p>
<p>Date created: {{.DateCreated}}</p>
<p>Oof shard: {{.OofShard}}</p>
<div>
    Items
    {{range.Items}}
    <div style="margin: 0 0 50px 50px">
        Item:
        <ul>
            <li> Chrt Id: {{.ChrtId}} </li>
            <li>Track Number: {{.TrackNumber}}</li>
            <li>Price: {{.Price}}</li>
            <li>Rid: {{.Rid}}</li>
            <li>Name: {{.Name}}</li>
            <li>Sale: {{.Sale}}</li>
            <li>Size: {{.Size}}</li>
            <li>TotalPrice: {{.TotalPrice}}</li>
            <li>NmId: {{.NmId}}</li>
            <li>Brand: {{.Brand}}</li>
            <li>Status: {{.Status}}</li>
        </ul>
    </div>
    {{end}}
</div>
</body>
</html>
<!-- HERE -->
